@import "~react-image-gallery/styles/css/image-gallery.css";

.responseCarousel {}

.slideItem {
    padding: 10px;
    text-align: center;
}

.slideItem-image {
    text-align: center;
}

.responsiveSlide {}

.slideItem-image {
    text-align: center;
    margin-bottom: 20px;
}