@import "~react-image-gallery/styles/css/image-gallery.css";

.slideItem-img {
  padding: 20px;
  color: white;
}

.slideItem-image-img {
  text-align: center;
  margin-bottom: 20px;
}

.imageCarousel {
  margin: 20px;
  width: 47%;
}

.imageCarousel .selected {
  /* background-color: green;*/
}

.carousel .slide {
  background-color: var(--ifm-footer-background-color);
}