.nav-container {
    min-height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--ifm-navbar-background-color);
}

.nav-items-left {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    font-weight: 600;
}

.nav-items-right {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.navbar__item {
    display: inline-block;
    padding: 0.25rem 1rem;
    padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
}

.navbar__link {
    color: #1c1e21;
    color: var(--ifm-navbar-link-color);
    cursor: pointer;
    font-weight: 500;
    font-weight: var(--ifm-font-weight-semibold);
    padding: 0.25rem 1rem;
    padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
    text-decoration: none;
}

.navbar__brand {
    align-items: center;
    color: #1c1e21;
    color: var(--ifm-navbar-link-color);
    display: flex;
    font-weight: 700;
    height: 2rem;
    margin-right: 1rem;
    text-decoration: none;
}

.navbar__title {
    flex-shrink: 0;
    max-width: 100%;
}

.navbar__logo {
    height: 100%;
    margin-right: 0.5rem;
}


.header-menu-icons {
    margin-right: 6px;
    height: 20px;
}

.icon-search {
    margin-right: 0px;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container-scrolled {
    background-color: #F7F7F7 !important;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}